.PagesCount {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  gap: 3px;
  li {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border: 1px solid;
    border-radius: 10px;
  }
  .Active {
    color: white;
    background-color: black;
  }
}