.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  border-bottom: 1px solid #cecdcd;

  .HeaderLeft {
    display: flex;
    align-items: center;
    .Logo {
      width: 60px;
      height: 35px;
      margin-right: 15px;
    }
  }

  .HeaderRight {
    display: flex;
    gap: 30px;

    li {
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 10px;
    }
    .FavouritesHeart {
      position: relative;
      b {
        position: absolute;
        top: -16px;
        right: -12px;
        padding: 5px;
        font-size: 13px;
        color: #B22222;
      }
    }
  }
}

@media (max-width: 620px) {
  .Header {
    flex-direction: column;
    gap: 20px;
  }
  
}